.navBar {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;
  top: 0;
}

.aboutLink,
.catalogLink {
  color: white;
  padding: 14px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.outlet {
  padding: 5px 30px;
}
