.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  /* your code here */
}

#charmander {
  position: relative;
  top: 50px;
}

#squirtle {
  position: relative;
  top: 80px;
}

#pikachu {
  position: relative;
  top: 160px;
}

#jigglypuff {
  position: relative;
  top: 260px;
}
